<div style="padding-left: 9rem;padding-right: 9rem;">
  <br><br>
  <div class="row col-md-12 ">
    <h4 style="margin-left: 40%;">VIEW SERVICE REQUESTS</h4>
  </div>
  <br><br><br>
  <div style="margin-left: 1.5rem;margin-right: 1.5rem;padding-bottom: 1rem;padding-top: 1rem"
    class="row bg-info col-md-12">
    <div class="col-md-6">
      <div class="form-group">
        <label>From Date</label>
        <ng-datepicker [options]="options" position="top-right" [(ngModel)]="fromdate"></ng-datepicker>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <label>To Date</label>
        <ng-datepicker [options]="options" position="top-right" [(ngModel)]="todate"></ng-datepicker>
      </div>
    </div>

    <div class="row col-md-12">
      <div style="margin-left: 45%">
        <button type="button" class="btn btn-success"
          (click)="basicModal.show();viewserviceRequest(fromdate,todate)"><b>GENERATE</b></button>
      </div>
    </div>

  </div>

  <br>

  <div style="text-align: center;">
    <table class="table table-responsive table-hover table-bordered table"
      style="display: inline-table;max-width: 150%;width: 125%;margin-left: -7rem;">
      <thead class="tableHead">
        <th> Requested Date </th>
        <th> Building - Floor - Zone</th>
        <th> Room </th>
        <th> Description</th>
        <th> Employee</th>
        <th> Task Name</th>
        <th> Task Notes</th>
        <th> Status </th>
        <th> Action </th>
      </thead>
      <tbody>
        <tr *ngFor="let x of requestdetails">
          <td>{{ x.ServiceRequestedDate }}</td>
          <td class=" notranslate">
            <span style="color: red">{{x.FacilityName}}</span> - <span style="color: blue">{{x.FloorName}}</span> -
            <span style="color: black">{{x.ZoneName}}</span>

          </td>

          <td class=" notranslate">{{ x.RoomId }}</td>
          <td class=" notranslate">{{ x.Requestnotes }}</td>
          <td>
            <select style="background-color: #D4F4FF !important;" [disabled]="x.IsWorkorderCreated === 1"
              class="form-control" [(ngModel)]="x.EmployeeKey" required>
              <option value="">--Select--</option>
              <option *ngFor="let e of EmployeeOption" [value]="e.EmployeeKey">
                {{e.name}}
              </option>
            </select>

          </td>
          <td>
            <input type="text" name="taskname" class="form-control" placeholder="Task Name" [(ngModel)]="taskname">
          </td>
          <td>
            <textarea class="form-control rounded-1" maxlength="200" [(ngModel)]="taskNotes" maxlength="200"
              rows="3"></textarea>
          </td>
          <td>{{ x.WorkorderStatus }}</td>
          <td>
            <span *ngIf="x.IsWorkorderCreated === 0">
              <button type="button" class="btn btn-success"
                (click)="basicModal1.show();createtaskbyservicerequest(x.Workorder_servicerequestID,x.EmployeeKey)"><b>GENERATE
                  TASK</b></button>
            </span>
            <span *ngIf="x.IsWorkorderCreated === 1">
              Task Created
            </span>

          </td>
        </tr>
        <tr *ngIf="requestdetails?.length == 0">
          <td colspan="9" class="no-data-available">No records found</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div mdbModal #basicModal="mdbModal" class="modal fade" role="dialog" aria-labelledby="myBasicModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide();clear()">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title w-100" id="myModalLabel"></h4>
        </div>
        <div class="modal-body" *ngIf="">
          {{message}}
        </div>
        <div class="modal-footer">
          <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close"
            (click)="basicModal.hide();clear() " mdbWavesEffect>OK</button>

        </div>
      </div>
    </div>
  </div>


  <div mdbModal #basicModal1="mdbModal" class="modal fade" role="dialog" aria-labelledby="myBasicModal1Label"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal1.hide()">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title w-100" id="myModalLabel"></h4>
        </div>
        <div class="modal-body">
          {{message}}
        </div>
        <div class="modal-footer">
          <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close"
            (click)="basicModal1.hide();" mdbWavesEffect>OK</button>

        </div>
      </div>
    </div>
  </div>

</div>