<div class="container">
  <div class="container-fluid">

    <div *ngFor="let profile of profile">
      <div style="margin-left: 45%;">
        <h4 class="refer"><strong>{{profile.FirstName}} {{profile.MiddleName}} {{profile.LastName}}
            : Profile</strong></h4>
        <div style="margin-left: 15%;">
          <!-- <div *ngIf="profile.IsSupervisor === 1 && profile.UserRoleName==='Employee'">
            <h4 class="refer"><strong>Supervisor</strong></h4>
          </div>
          <div *ngIf="profile.IsSupervisor === 0 && profile.UserRoleName==='Employee'">
            <h4 class="refer"><strong>Employee</strong></h4>
          </div> -->
          <!-- <div *ngIf="profile.UserRoleName!=='Employee'"> -->
          <h4 class="refer"><strong>{{profile.UserRoleName}}</strong></h4>
          <!-- </div> -->
        </div>
      </div>

      <div class="form-group">
        <div>
          <section class="imageSection">
            <div *ngIf="image==null">
              <img src="assets/img/userIcon.jpg" style="width: 12rem;" class="img-responsive">
            </div>
            <div *ngIf="image!==null">
              <img src="./imageupload/{{image}}" style="width: 12rem;" class="img-responsive">
            </div>
            <div style="margin-bottom: 1rem;margin-top: 2rem">
              <input type="file" name="photo" ng2FileSelect [uploader]="uploader" />
            </div>
            <div>
              <!-- <div class="row col-md-12" style="margin-left: 45%"> -->

              <button type="button" style="text-align:center" class="btn btn-success" [disabled]="fileCheck"
                (click)="ImgUpload();"><b>UPLOAD</b></button>
            </div>
            <div class='buttonDiv'>
              <button style="margin-top: 1rem;width: 12rem;" class="btn btn-primary"
                [routerLink]="['changePasswordAdmin',profile.EmployeeKey,profile.UserRoleName,profile.IsSupervisor]"
                routerLinkActive="active">
                <!-- ng-click="changePassword(,, )" -->
                <span><b>CHANGE PASSWORD</b></span></button>
            </div>
          </section>
        </div>
        <div style="margin-left: 15rem; margin-top: -13rem; background-color: white !important">
          <div class="form-group" style="margin-left: 3rem;padding-top: 3rem;padding-bottom: 3rem;">
            <table class="table table-responsive table-hover table" style="display: inline-table">
              <tbody>
                <tr>
                  <td colspan="2">
                    <h5><b>Organizational Information</b></h5>
                  </td>
                </tr>

                <tr>
                  <td>Organization </td>
                  <td>{{profile.Organization}}</td>
                </tr>
                <tr>
                  <td>Employee Number </td>
                  <td>{{profile.EmployeeNumber}}</td>
                </tr>
                <tr>
                  <td>User Name </td>
                  <td>{{profile.UserId}}</td>
                </tr>



                <tr>
                  <td colspan="2">
                    <h5><b>General Information</b></h5>
                  </td>
                </tr>
                <tr>
                  <td>Position</td>
                  <td>
                    <span *ngIf="profile.IsSupervisor === 1 && profile.UserRoleName==='Employee'">
                      Supervisor
                    </span>
                    <span *ngIf="profile.IsSupervisor === 0 && profile.UserRoleName==='Employee'">
                      Employee
                    </span>
                    <span *ngIf="profile.UserRoleName==='Manager'">
                      Manager
                    </span>
                    <span *ngIf="profile.UserRoleName==='SuperAdmin'">
                      Super Admin
                    </span>
                    <span *ngIf="profile.UserRoleName==='Admin'">
                      Admin
                    </span>
                  </td>
                </tr>
                <tr>
                  <td>Department</td>
                  <td>{{profile.DepartmentName}}</td>
                </tr>
                <tr>
                  <td>Job Title</td>
                  <td>{{profile.JobTitle}}</td>
                </tr>
                <tr>
                  <td>Manager</td>
                  <td>{{manager}}</td>
                </tr>
                <tr>
                  <td>Hire Date</td>
                  <td>{{profile.HireDate}}</td>
                </tr>
                <tr>
                  <td>Status</td>
                  <td>Active</td>
                </tr>



                <tr>
                  <td colspan="2">
                    <h5><b>Personal Information</b></h5>
                  </td>
                </tr>
                <tr>
                  <td>Email</td>
                  <td>{{profile.EmailID}}</td>
                </tr>
                <tr>
                  <td>Date of Birth</td>
                  <td>{{profile.BirthDate}}</td>
                </tr>
                <tr>
                  <td>Phone Number</td>
                  <td>{{profile.PrimaryPhone}}</td>
                </tr>
                <tr>
                  <td></td>
                  <td>{{profile.AlternatePhone}}</td>
                </tr>
                <tr>
                  <td>Address</td>
                  <td>
                    {{profile.AddressLine1}}&nbsp;{{profile.AddressLine2}}&nbsp;{{profile.City}}&nbsp;{{profile.State}}&nbsp;{{profile.Country}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>